@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');


body{
  font-family: 'Source Sans 3', sans-serif;
  padding: 0;
  margin: 0;
  background-color: black;
  overflow: hidden;
}

.main {
  font-family: 'Source Sans 3', sans-serif;
color: white;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
margin-bottom: 1rem;
}
.box{
  padding: 1.5rem 1.25rem;
  margin: 10rem auto;
  border-radius: 2rem;
  background-color: black;
}
.question{
  padding: 1.5rem ;
}
.input{
  padding: 1rem;
  text-transform: capitalize;
}
.ans-counter{
  
text-shadow: rgba(255,255,255,0.94) 0px 0px 26px;

  display: flex;
  flex-direction: column;
  color:
  white;
  padding: 1rem;
}

.ans{
  text-transform: uppercase;
}






.main:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top left, #ff0000 20%, #0400ff 103% );
  transform: translate3d(9px, 16px, 0) scale(1.02);
  filter: blur(20px);
  opacity: var(0.69);
  transition: opacity 0.3s;
  border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.main::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}
      